.group-child64 {
  background-color: var(--color-darkred);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.group-child64,
.rectangle-wrapper41 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 140px;
}
.deals10 {
  position: absolute;
  top: 11px;
  left: 508px;
  text-decoration: underline;
  line-height: 100%;
}
.group-parent40 {
  position: absolute;
  top: 199px;
  left: 0;
  width: 1280px;
  height: 140px;
  font-size: var(--font-size-81xl);
}
.deals-inner2,
.group-child66 {
  position: absolute;
  top: 487px;
  left: 1px;
  width: 1280px;
  height: 140px;
}
.group-child66 {
  top: 18px;
  left: 0;
  background-color: var(--color-darkred);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.image-9-icon1 {
  position: absolute;
  top: 0;
  left: 159px;
  border-radius: var(--br-3xs);
  width: 934.4px;
  height: 175px;
  object-fit: cover;
}
.deals-inner3,
.deals-inner4,
.group-wrapper22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 175px;
}
.deals-inner3,
.deals-inner4 {
  top: 1977px;
}
.deals-inner4 {
  top: 2769px;
  left: -5px;
  height: 140px;
}
.group-child69,
.group-parent41 {
  position: absolute;
  top: 5px;
  left: 233px;
}
.group-parent41 {
  top: 4630px;
  left: -5px;
  width: 1280px;
  height: 140px;
}
.group-child70 {
  background-color: var(--color-darkred);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.deals-inner5,
.group-child70,
.group-wrapper25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 120px;
}
.deals-inner5 {
  top: 3871px;
  left: -5px;
}
.pointserve-deals {
  position: relative;
  text-decoration: underline;
  cursor: pointer;
}
.exclusive-deals-group {
  position: absolute;
  top: 362px;
  left: -6px;
  background-color: var(--color-darkred);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 1281px;
  height: 82px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) 0 var(--padding-xl) var(--padding-397xl);
  gap: var(--gap-21xl);
  font-size: var(--font-size-16xl);
}
.menu11 {
  position: relative;
  text-decoration: underline;
}
.group-icon7 {
  position: relative;
  width: 45px;
  height: 35px;
  cursor: pointer;
}
.menu-parent5 {
  position: absolute;
  height: 34.16%;
  width: 68.96%;
  top: 37.79%;
  right: 0.93%;
  bottom: 28.05%;
  left: 30.11%;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkred);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-28xl);
}
.image-1-icon7 {
  position: absolute;
  height: 77.63%;
  width: 11.61%;
  top: 15.95%;
  right: 79.13%;
  bottom: 6.42%;
  left: 9.26%;
  border-radius: var(--br-131xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-parent26 {
  position: absolute;
  top: 9px;
  left: 0;
  width: 1275px;
  height: 190px;
  font-size: var(--font-size-11xl);
}
.group-child71,
.group-child72 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child72 {
  height: 52.92%;
  width: 80%;
  top: 3.68%;
  right: 9.2%;
  bottom: 43.39%;
  left: 10.8%;
  object-fit: cover;
}
.arabian-green3 {
  margin: 0;
}
.arabian-green2 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 204px;
  height: 26px;
}
.blank-line24 {
  margin: 0;
  font-size: var(--font-size-xs);
}
.green-sauce-arabian-container1 {
  position: absolute;
  top: 36px;
  left: 0;
  color: var(--color-snow-300);
  display: inline-block;
  width: 204px;
  height: 52px;
  font-size: var(--font-size-2xs);
}
.rs-4208,
.vector-icon30 {
  position: absolute;
  top: 70.91%;
}
.rs-4208 {
  height: 28.73%;
  width: 60.54%;
  left: 0;
  font-size: 35.29px;
  color: var(--color-snow-100);
  display: inline-block;
}
.vector-icon30 {
  height: 29.09%;
  width: 19.61%;
  right: 8.82%;
  bottom: 0;
  left: 71.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arabian-green-group {
  position: absolute;
  top: 222px;
  left: 27px;
  width: 204px;
  height: 138.2px;
}
.vector-parent10,
.vector-parent11,
.vector-parent12,
.vector-parent13 {
  position: absolute;
  height: 6.4%;
  width: 19.53%;
  top: 11.8%;
  right: 76.48%;
  bottom: 81.81%;
  left: 3.98%;
  color: var(--color-whitesmoke-200);
}
.vector-parent11,
.vector-parent12,
.vector-parent13 {
  right: 52.97%;
  left: 27.5%;
}
.vector-parent12,
.vector-parent13 {
  right: 29.45%;
  left: 51.02%;
}
.vector-parent13 {
  right: 5.23%;
  left: 75.23%;
}
.combination-of-beef-container2 {
  position: absolute;
  top: 60px;
  left: 0;
  color: var(--color-snow-300);
  display: inline-block;
  width: 204px;
  height: 52px;
  font-size: var(--font-size-2xs);
}
.vector-parent14 {
  position: absolute;
  height: 6.4%;
  width: 19.53%;
  top: 18.97%;
  right: 52.97%;
  bottom: 74.64%;
  left: 27.5%;
  color: var(--color-whitesmoke-200);
}
.pizza-sauce-tikka-container1 {
  position: absolute;
  top: 36px;
  left: 0;
  font-size: var(--font-size-xs);
  color: var(--color-snow-300);
  display: inline-block;
  width: 204px;
  height: 52px;
}
.vector-parent15 {
  position: absolute;
  height: 6.4%;
  width: 19.53%;
  top: 18.97%;
  right: 29.45%;
  bottom: 74.64%;
  left: 51.02%;
  color: var(--color-whitesmoke-200);
}
.pizza-sauce-marinated-container3,
.super-max1 {
  position: absolute;
  top: 0;
  left: 3px;
  display: inline-block;
  width: 204px;
  height: 26px;
}
.pizza-sauce-marinated-container3 {
  top: 32px;
  color: var(--color-snow-300);
  height: 52px;
  font-size: var(--font-size-2xs);
}
.rs-42014,
.vector-icon36 {
  position: absolute;
  top: 70.48%;
}
.rs-42014 {
  height: 29.15%;
  width: 59.66%;
  left: 0;
  font-size: 35.29px;
  color: var(--color-snow-100);
  display: inline-block;
}
.vector-icon36 {
  height: 29.52%;
  width: 19.32%;
  right: 10.14%;
  bottom: 0;
  left: 70.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.super-max-group,
.vector-parent16 {
  position: absolute;
  top: 224px;
  left: 27px;
  width: 207px;
  height: 136.2px;
}
.vector-parent16 {
  height: 6.4%;
  width: 19.53%;
  top: 18.97%;
  right: 5.23%;
  bottom: 74.64%;
  left: 75.23%;
  color: var(--color-whitesmoke-200);
}
.group-child88 {
  position: absolute;
  height: 52.92%;
  width: 80%;
  top: 6.84%;
  right: 10%;
  bottom: 40.24%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bihari-tikka2,
.pizza-sauce-bihari-container1 {
  position: absolute;
  height: 18.81%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.pizza-sauce-bihari-container1 {
  height: 37.63%;
  top: 26.05%;
  font-size: var(--font-size-xs);
  color: var(--color-snow-300);
}
.bihari-tikka-group {
  position: absolute;
  height: 36.37%;
  width: 81.6%;
  top: 61.58%;
  right: 8.4%;
  bottom: 2.05%;
  left: 10%;
}
.group-child90,
.vector-parent17 {
  position: absolute;
  height: 99.48%;
  width: 45.05%;
  top: 0.52%;
  right: 54.95%;
  bottom: 0;
  left: 0;
}
.group-child90 {
  height: 52.92%;
  width: 80%;
  top: 3.68%;
  right: 10%;
  bottom: 43.39%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chapli-kabab-group {
  position: absolute;
  height: 36.37%;
  width: 81.6%;
  top: 58.42%;
  right: 8.4%;
  bottom: 5.21%;
  left: 10%;
}
.group-parent42,
.vector-parent18 {
  position: absolute;
  height: 99.48%;
  width: 45.05%;
  top: 0;
  right: 0;
  bottom: 0.52%;
  left: 54.95%;
}
.group-parent42 {
  height: 6.43%;
  width: 43.36%;
  top: 26.1%;
  right: 52.66%;
  bottom: 67.47%;
  left: 3.98%;
  color: var(--color-whitesmoke-200);
}
.image-10-icon1 {
  position: absolute;
  top: 2755px;
  left: 165px;
  border-radius: var(--br-3xs);
  width: 950.4px;
  height: 175px;
  object-fit: cover;
}
.group-child91,
.group-child92 {
  position: absolute;
  height: 99.48%;
  width: 44.96%;
  top: 0.52%;
  right: 0;
  bottom: 0;
  left: 55.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child92 {
  height: 52.64%;
  width: 35.97%;
  top: 4.19%;
  right: 4.5%;
  bottom: 43.17%;
  left: 59.53%;
  object-fit: cover;
}
.cheese-lover-group,
.vector-parent20 {
  position: absolute;
  height: 36.37%;
  width: 81.6%;
  top: 58.42%;
  right: 7.6%;
  bottom: 5.21%;
  left: 10.8%;
}
.vector-parent20 {
  height: 99.48%;
  width: 44.96%;
  top: 0;
  right: 55.04%;
  bottom: 0.52%;
  left: 0;
}
.malai-tikka-group,
.vector-parent19 {
  position: absolute;
  height: 36.18%;
  width: 36.69%;
  top: 58.64%;
  right: 3.78%;
  bottom: 5.18%;
  left: 59.53%;
}
.vector-parent19 {
  height: 6.43%;
  width: 43.44%;
  top: 26.1%;
  right: 5.23%;
  bottom: 67.47%;
  left: 51.33%;
  color: var(--color-whitesmoke-200);
}
.air-port-branch5 {
  position: relative;
  text-decoration: underline;
  line-height: 100%;
}
.air-port-branch-parent3 {
  align-items: flex-start;
}
.air-port-branch-parent3,
.hassan-square-branch-parent3,
.university-road-branch-parent3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 43.16px;
}
.university-road-branch-parent3 {
  align-items: flex-start;
  color: var(--color-gray-200);
}
.hassan-square-branch-parent3 {
  align-items: center;
}
.frame-parent27 {
  position: absolute;
  height: 64.71%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 35.29%;
  left: 0;
  background-color: var(--color-darkred);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-71xl);
}
.pizzapoint-all-rights-container5 {
  position: absolute;
  width: 91.02%;
  top: 135.74%;
  left: 3.19%;
  font-size: var(--font-size-16xl);
  line-height: 100%;
  display: inline-block;
}
.component-133 {
  position: absolute;
  top: 5486px;
  left: 0;
  width: 1285px;
  height: 291px;
  font-size: 26.08px;
  font-family: var(--font-lato);
}
.deals-child1 {
  position: absolute;
  top: 2198px;
  left: 96px;
  width: 1038px;
  height: 450px;
}
.inches-small-pizza-container1,
.rs-2441 {
  position: absolute;
  font-size: var(--font-size-21xl);
  line-height: 100%;
}
.inches-small-pizza-container1 {
  top: 2475px;
  left: 138px;
  text-decoration: underline;
}
.rs-2441 {
  top: 2575px;
  left: 142px;
}
.vector-icon41,
.vector-icon42,
.vector-icon43 {
  position: absolute;
  height: 0.76%;
  width: 3.52%;
  top: 43.32%;
  right: 72.97%;
  bottom: 55.92%;
  left: 23.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon42,
.vector-icon43 {
  top: 43.34%;
  right: 43.05%;
  bottom: 55.91%;
  left: 53.44%;
}
.vector-icon43 {
  top: 43.35%;
  right: 14.45%;
  bottom: 55.89%;
  left: 82.03%;
}
.inches-regular-pizza-container1,
.rs-5091 {
  position: absolute;
  font-size: var(--font-size-21xl);
}
.inches-regular-pizza-container1 {
  top: 2463px;
  left: 495px;
  text-decoration: underline;
  display: inline-block;
  width: 256px;
  height: 107px;
}
.rs-5091 {
  top: 2572px;
  left: 527px;
}
.inches-large-pizza-container1,
.rs-7741 {
  position: absolute;
  font-size: var(--font-size-21xl);
  line-height: 100%;
}
.inches-large-pizza-container1 {
  top: 2467px;
  left: 882px;
  text-decoration: underline;
  display: inline-block;
  width: 219px;
  height: 83px;
}
.rs-7741 {
  top: 2576px;
  left: 896px;
}
.component-1-icon36 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 250px;
  height: 400px;
}
.vector-icon44 {
  position: absolute;
  height: 11.25%;
  width: 18%;
  top: 80.75%;
  right: 13.2%;
  bottom: 8%;
  left: 68.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.super-charged5 {
  font-weight: 600;
}
.span7 {
  font-size: var(--font-size-16xl);
}
.super-charged4 {
  top: 228px;
  left: 8px;
  text-decoration: underline;
}
.rs-49911,
.super-charged4,
.twister4 {
  position: absolute;
  line-height: 100%;
}
.twister4 {
  top: 268px;
  left: 64px;
  font-size: var(--font-size-16xl);
  text-decoration: underline;
  font-weight: 600;
}
.rs-49911 {
  top: 323px;
  left: 22px;
  font-size: var(--font-size-21xl);
}
.component-1-parent34,
.component-1-parent35 {
  position: absolute;
  top: 2994px;
  left: 138px;
  width: 250px;
  height: 400px;
  font-size: var(--font-size-13xl);
}
.component-1-parent35 {
  top: 4120px;
}
.vector-icon46 {
  position: absolute;
  height: 11.25%;
  width: 18%;
  top: 81.25%;
  right: 9.6%;
  bottom: 7.5%;
  left: 72.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.for-all2,
.rs-9993,
.small-pizza6 {
  position: absolute;
  line-height: 100%;
}
.for-all2 {
  top: 241px;
  left: 37px;
  text-decoration: underline;
}
.rs-9993,
.small-pizza6 {
  top: 282px;
  left: 25px;
  font-size: var(--font-size-13xl);
}
.rs-9993 {
  top: 325px;
  left: 37px;
  font-size: var(--font-size-21xl);
}
.component-1-parent36,
.component-1-parent37 {
  position: absolute;
  top: 2994px;
  left: 510px;
  width: 250px;
  height: 400px;
  font-size: var(--font-size-16xl);
}
.component-1-parent37 {
  top: 4120px;
  left: 525px;
}
.serve-11 {
  position: absolute;
  top: 0;
  left: 50px;
  text-decoration: underline;
  line-height: 100%;
}
.small-pizza-container2 {
  position: absolute;
  top: 43px;
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 100%;
  display: inline-block;
  width: 244px;
  height: 77px;
}
.serve-1-group {
  position: absolute;
  top: 239px;
  left: 14px;
  width: 244px;
  height: 120px;
}
.rs-49913 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  width: 152.3px;
  height: 31px;
  flex-shrink: 0;
  transform: rotate(1.49deg);
  transform-origin: 0 0;
}
.vector-icon48 {
  position: relative;
  width: 45px;
  height: 45px;
}
.rs-499-parent1 {
  position: absolute;
  top: 335px;
  left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-21xl);
}
.component-1-parent38 {
  position: absolute;
  top: 4844px;
  left: 169px;
  width: 258px;
  height: 400px;
  font-size: var(--font-size-16xl);
}
.serve-21 {
  position: absolute;
  top: 0;
  left: 57px;
  text-decoration: underline;
  line-height: 100%;
}
.small-pizza-container3 {
  position: absolute;
  top: 43px;
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 100%;
  display: inline-block;
  width: 244px;
  height: 157px;
}
.serve-2-group {
  position: absolute;
  top: 239px;
  left: 7px;
  width: 244px;
  height: 200px;
}
.component-1-parent39,
.component-1-parent40 {
  position: absolute;
  top: 4844px;
  left: 556px;
  width: 251px;
  height: 439px;
  font-size: var(--font-size-16xl);
}
.component-1-parent40 {
  left: 920px;
}
.special-discount2 {
  top: 248px;
  left: 0;
  text-decoration: underline;
  font-weight: 600;
}
.deal2,
.rs-3992,
.special-discount2 {
  position: absolute;
  line-height: 100%;
}
.deal2 {
  top: 286px;
  left: 86px;
  font-size: var(--font-size-16xl);
  text-decoration: underline;
  font-weight: 600;
}
.rs-3992 {
  top: 333px;
  left: 35px;
  font-size: var(--font-size-21xl);
}
.vector-icon51 {
  position: absolute;
  height: 11.25%;
  width: 18%;
  top: 83.25%;
  right: 10%;
  bottom: 5.5%;
  left: 72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-14-container,
.component-14-parent1 {
  position: absolute;
  top: 2994px;
  left: 896px;
  width: 250px;
  height: 400px;
  font-size: var(--font-size-11xl);
}
.component-14-parent1 {
  top: 4120px;
  left: 909px;
}
.image-12-icon1,
.image-5-icon1 {
  position: absolute;
  top: 468px;
  left: 171px;
  border-radius: var(--br-8xs);
  width: 917.9px;
  height: 175px;
  object-fit: cover;
}
.image-12-icon1 {
  top: 3847px;
  left: 165px;
  border-radius: var(--br-3xs);
  width: 954.1px;
}
.vector-icon53 {
  position: absolute;
  height: 11.25%;
  width: 16.92%;
  top: 81.25%;
  right: 15.04%;
  bottom: 7.5%;
  left: 68.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.buy-one-large1,
.get-2-regular1 {
  position: absolute;
  line-height: 100%;
}
.buy-one-large1 {
  top: 236px;
  left: 5px;
  text-decoration: underline;
}
.get-2-regular1 {
  top: 285px;
  left: 22px;
  font-size: 25.11px;
  display: inline-block;
  width: 244px;
}
.component-1-parent41 {
  position: absolute;
  top: 3421px;
  left: 507px;
  width: 266px;
  height: 400px;
  font-size: var(--font-size-16xl);
}
.component-17-icon4,
.image-15-icon1 {
  position: absolute;
  top: 5701px;
  left: 439px;
  width: 470px;
  height: 152px;
}
.image-15-icon1 {
  top: 4606px;
  left: 160px;
  border-radius: var(--br-3xs);
  width: 979px;
  height: 187px;
  object-fit: cover;
}
.vector-parent21 {
  position: absolute;
  height: 6.4%;
  width: 19.53%;
  top: 18.97%;
  right: 76.17%;
  bottom: 74.64%;
  left: 4.3%;
  color: var(--color-whitesmoke-200);
}
.deals9 {
  position: relative;
  background-color: var(--color-black);
  border: 3px solid var(--color-darkred);
  box-sizing: border-box;
  width: 100%;
  height: 5942px;
  overflow: hidden;
  text-align: left;
  font-size: 24.85px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
