.group-child45 {
  background-color: var(--color-darkred);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.group-child45,
.rectangle-wrapper28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1293.2px;
  height: 141.4px;
}
.menu6 {
  position: absolute;
  top: 11.1px;
  left: 513.3px;
  text-decoration: underline;
  line-height: 100%;
}
.group-parent26 {
  position: absolute;
  top: 193px;
  left: 0.4px;
  width: 1293.2px;
  height: 141.4px;
}
.component-1-inner {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.component-1-child1,
.component-1-inner,
.rs-349-icon1,
.vector-icon27 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-1-child1 {
  height: 52.92%;
  width: 80.01%;
  top: 5.03%;
  right: 9.98%;
  bottom: 42.05%;
  left: 10.02%;
  object-fit: cover;
}
.rs-349-icon1,
.vector-icon27 {
  height: 6.94%;
  width: 46.32%;
  top: 81.28%;
  right: 38.44%;
  bottom: 11.78%;
  left: 15.24%;
}
.vector-icon27 {
  height: 10.58%;
  width: 15.99%;
  top: 79.63%;
  right: 16.43%;
  bottom: 9.79%;
  left: 67.58%;
}
.cheesy-stick1 {
  position: absolute;
  top: 60.33%;
  left: 6.81%;
  text-decoration: underline;
}
.component-11 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs-1);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 252.6px;
  height: 381.9px;
}
.component-1-frame {
  position: relative;
  width: 252.6px;
  height: 381.9px;
}
.component-1-icon22 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs-1);
  width: 252.6px;
  height: 383.9px;
}
.french-fries1 {
  position: absolute;
  top: 232.4px;
  left: 30.3px;
  text-decoration: underline;
}
.rs-1992,
.twister3 {
  position: absolute;
  top: 301.1px;
  left: 42.4px;
}
.twister3 {
  top: 232.4px;
  left: 74.8px;
  text-decoration: underline;
}
.appetizer-box1,
.rs-2992 {
  position: absolute;
  top: 303.1px;
  left: 42.4px;
}
.appetizer-box1 {
  top: 232.4px;
  left: 9.1px;
  text-decoration: underline;
}
.rs-7992 {
  position: absolute;
  top: 299.1px;
  left: 44.5px;
  color: var(--color-white);
}
.component-1-parent22 {
  position: relative;
  width: 252.6px;
  height: 383.9px;
  color: var(--color-gray-300);
}
.group-parent27 {
  position: absolute;
  top: 692.1px;
  left: 69.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50.52px;
  font-size: 35.36px;
}
.pizza-fries1 {
  position: absolute;
  top: 230.4px;
  left: 35.4px;
  text-decoration: underline;
}
.point-platters1,
.rs-4998 {
  position: absolute;
  top: 301.1px;
  left: 33.3px;
}
.point-platters1 {
  top: 230.4px;
  left: 18.2px;
  text-decoration: underline;
}
.rs-7993 {
  position: absolute;
  top: 301.1px;
  left: 44.5px;
}
.garlic-mushroom1,
.tacos1 {
  position: absolute;
  top: 230.4px;
  left: 85.9px;
  text-decoration: underline;
}
.garlic-mushroom1 {
  top: 236.4px;
  left: 5.1px;
}
.rs-4999 {
  position: absolute;
  top: 303.1px;
  left: 35.4px;
  font-size: 35.36px;
}
.component-3-parent2 {
  position: relative;
  width: 252.6px;
  height: 383.9px;
  font-size: 30.31px;
}
.group-parent28 {
  position: absolute;
  top: 1126.5px;
  left: 69.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50.52px;
  font-size: 35.36px;
}
.chicken-nuggets1 {
  position: absolute;
  top: 220.3px;
  left: 3px;
  text-decoration: underline;
}
.component-1-parent25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 252.6px;
  height: 383.9px;
}
.rs-2492 {
  position: absolute;
  top: 298.1px;
  left: 25.3px;
  font-size: 35.36px;
}
.plain-garlic1 {
  margin: 0;
}
.plain-garlic-bread-container1 {
  position: absolute;
  top: 228.4px;
  left: 42.4px;
  text-decoration: underline;
  white-space: pre-wrap;
}
.rs-1993 {
  position: absolute;
  top: 305.1px;
  left: 47.5px;
  font-size: 35.36px;
}
.potato-bites1 {
  position: absolute;
  top: 232.4px;
  left: 25.3px;
  text-decoration: underline;
}
.rs-2493 {
  position: absolute;
  top: 298.1px;
  left: 43.4px;
}
.component-1-parent27 {
  position: relative;
  width: 252.6px;
  height: 383.9px;
  font-size: 35.36px;
}
.salad1 {
  position: absolute;
  top: 234.4px;
  left: 82.8px;
  text-decoration: underline;
}
.group-parent29,
.rs-5996 {
  position: absolute;
  top: 303.1px;
  left: 40.4px;
}
.group-parent29 {
  top: 1561px;
  left: 72.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50.52px;
  font-size: 30.31px;
}
.menu-inner4,
.menu-inner5 {
  position: absolute;
  top: 3786.8px;
  left: 0.4px;
  width: 1293.2px;
  height: 141.4px;
}
.menu-inner5 {
  top: 4842.6px;
}
.chicken-pasta1 {
  position: absolute;
  top: 227.3px;
  left: 7.1px;
  text-decoration: underline;
}
.rs-5997 {
  position: absolute;
  top: 302.1px;
  left: 38.4px;
}
.alferado-pasta3 {
  text-decoration: underline;
}
.alferado-pasta2,
.rs-6991 {
  position: absolute;
  top: 222.3px;
  left: 14.1px;
}
.rs-6991 {
  top: 305.1px;
  left: 52.5px;
}
.component-2-parent3 {
  position: relative;
  width: 252.6px;
  height: 383.9px;
  font-size: 32.33px;
}
.chicken-lasagne1 {
  position: absolute;
  top: 230.4px;
  left: 3px;
  text-decoration: underline;
}
.beef-spaghetti1,
.rs-5998 {
  position: absolute;
  top: 306.1px;
  left: 52.5px;
}
.beef-spaghetti1 {
  top: 230.4px;
  left: 19.2px;
  text-decoration: underline;
}
.rs-5999 {
  position: absolute;
  top: 306.1px;
  left: 58.6px;
}
.component-4-container {
  position: relative;
  width: 252.6px;
  height: 383.9px;
}
.group-parent31 {
  position: absolute;
  top: 2182.3px;
  left: 46.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50.52px;
  font-size: 30.31px;
}
.main-course2 {
  position: absolute;
  top: 20.2px;
  left: 346.5px;
  text-decoration: underline;
  line-height: 100%;
}
.group-parent32 {
  position: absolute;
  top: 1985.3px;
  left: 0.4px;
  width: 1293.2px;
  height: 141.4px;
}
.spicy-dip-sauce1 {
  position: absolute;
  top: 227.3px;
  left: 2px;
  text-decoration: underline;
}
.rs-6011 {
  top: 302.1px;
  left: 38.4px;
}
.component-2-parent4,
.rs-6011,
.rs-6013 {
  position: absolute;
  font-size: 35.36px;
}
.component-2-parent4 {
  top: 0;
  left: 361.7px;
  width: 252.6px;
  height: 383.9px;
}
.rs-6013 {
  top: 306.1px;
  left: 52.5px;
}
.component-3-parent4,
.group-parent33 {
  position: absolute;
  top: 0;
  left: 717.3px;
  width: 252.6px;
  height: 383.9px;
  font-size: 30.31px;
}
.group-parent33 {
  top: 3974.7px;
  left: 162px;
  width: 969.9px;
  font-size: 32.33px;
}
.rs-49910 {
  position: absolute;
  top: 304.1px;
  left: 37.4px;
}
.chicken-sandwich1 {
  position: absolute;
  top: 235.4px;
  left: 3px;
  font-size: 28.29px;
  text-decoration: underline;
}
.rs-59910 {
  position: absolute;
  top: 307.1px;
  left: 52.5px;
}
.beef-roasted-sandwich-container1 {
  position: absolute;
  top: 223.3px;
  left: 25.3px;
  text-decoration: underline;
}
.rs-59911 {
  position: absolute;
  top: 304.1px;
  left: 57.6px;
}
.mexican-sandwich1 {
  position: absolute;
  top: 232.4px;
  left: 1px;
  font-size: 28.29px;
  text-decoration: underline;
}
.group-parent34 {
  position: absolute;
  top: 2621.8px;
  left: 173.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 70.72px;
  font-size: 30.31px;
}
.component-4-parent1,
.component-5-icon4 {
  position: absolute;
  top: 0;
  left: 725.4px;
  width: 252.6px;
  height: 383.9px;
}
.component-5-icon4 {
  left: 0;
  border-radius: var(--br-2xs-1);
  width: 269.3px;
}
.green-sauce1,
.rs-6015 {
  position: absolute;
  top: 304.1px;
  left: 39.9px;
  display: inline-block;
  width: 106.6px;
}
.green-sauce1 {
  top: 233.4px;
  left: 20.5px;
  text-decoration: underline;
  width: 228.4px;
}
.component-5-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 269.3px;
  height: 383.9px;
}
.french-dressing1,
.rs-6016 {
  position: absolute;
  top: 307.1px;
  left: 56px;
  display: inline-block;
  width: 106.6px;
}
.french-dressing1 {
  top: 231.4px;
  left: 9.7px;
  font-size: 30.31px;
  text-decoration: underline;
  width: 248.8px;
}
.component-6-parent2,
.group-parent35 {
  position: absolute;
  top: 0;
  left: 369.8px;
  width: 269.3px;
  height: 383.9px;
}
.group-parent35 {
  top: 4415.2px;
  left: 162px;
  width: 978px;
  font-size: 35.36px;
}
.component-1-icon33 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs-1);
  width: 303.1px;
  height: 454.7px;
}
.hawaiian-feast1,
.rs-6662 {
  position: absolute;
  line-height: 100%;
}
.hawaiian-feast1 {
  top: 278.9px;
  left: 5.1px;
  text-decoration: underline;
}
.rs-6662 {
  top: 365.7px;
  left: 43.4px;
  font-size: 40.41px;
}
.component-1-parent31 {
  position: relative;
  width: 303.1px;
  height: 454.7px;
}
.kabab-feast1,
.rs-6663 {
  position: absolute;
  line-height: 100%;
}
.kabab-feast1 {
  top: 276.8px;
  left: 24.2px;
  text-decoration: underline;
}
.rs-6663 {
  top: 365.7px;
  left: 54.6px;
}
.component-1-parent32 {
  position: relative;
  width: 303.1px;
  height: 454.7px;
  font-size: 40.41px;
}
.group-parent36 {
  position: absolute;
  top: 3265.4px;
  left: 213.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10.103392601013184px 50.516963958740234px;
  gap: 151.55px;
  font-size: 38.39px;
  font-family: var(--font-poppins);
}
.sauces2 {
  position: absolute;
  top: 3796.9px;
  left: 461.1px;
  line-height: 100%;
}
.appetizer2,
.beverages2,
.sauces2 {
  text-decoration: underline;
}
.beverages2 {
  position: absolute;
  top: 4842.6px;
  left: 397.4px;
}
.appetizer2 {
  position: relative;
  cursor: pointer;
}
.appetizer-group {
  position: absolute;
  top: 363.7px;
  left: -0.6px;
  background-color: var(--color-darkred);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 1294.2px;
  height: 82.8px;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 20.206785202026367px;
  gap: 80.83px;
  font-size: 35.36px;
}
.menu7 {
  position: relative;
  text-decoration: underline;
}
.group-icon3 {
  position: relative;
  width: 45.5px;
  height: 35.4px;
  cursor: pointer;
}
.menu-parent1 {
  position: absolute;
  height: 34.11%;
  width: 68.96%;
  top: 37.76%;
  right: 0.92%;
  bottom: 28.13%;
  left: 30.11%;
  border-radius: 5.05px;
  background-color: var(--color-darkred);
  box-shadow: 0 4px 4.04px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 47.49px;
}
.image-1-icon3,
.vector-icon28 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-1-icon3 {
  height: 77.66%;
  width: 11.61%;
  top: 33.54%;
  right: 80.9%;
  bottom: -11.2%;
  left: 7.49%;
  border-radius: 151.55px;
  object-fit: cover;
}
.vector-icon28 {
  height: 23.28%;
  width: 5.42%;
  top: 42.4%;
  right: 92.42%;
  bottom: 34.32%;
  left: 2.17%;
  cursor: pointer;
}
.frame-parent17 {
  position: absolute;
  top: -647px;
  left: -264px;
  width: 1288.2px;
  height: 192px;
  font-size: 30.31px;
}
.appetizer3 {
  position: absolute;
  top: 0;
  left: 357.7px;
  text-decoration: underline;
}
.calzones3,
.group-parent37 {
  position: absolute;
  top: 498.1px;
  left: 3.4px;
  width: 1293.2px;
  height: 141.4px;
}
.calzones3 {
  top: 15.2px;
  left: 427.4px;
  text-decoration: underline;
  line-height: 100%;
  display: inline-block;
  width: 438.5px;
  height: 126.3px;
}
.menu-inner6 {
  position: absolute;
  top: 3048.2px;
  left: 0.4px;
  width: 1293.2px;
  height: 141.4px;
}
.pepsi1 {
  top: 233.4px;
  left: 54.6px;
  text-decoration: underline;
}
.pepsi1,
.rs-6018,
.up1 {
  position: absolute;
}
.up1 {
  top: 230.4px;
  left: 83.9px;
  text-decoration: underline;
}
.rs-6018 {
  top: 305.1px;
  left: 52.5px;
  font-size: 35.36px;
}
.group-wrapper18 {
  position: absolute;
  top: 0;
  left: 353.6px;
  width: 252.6px;
  height: 383.9px;
}
.miranda1 {
  position: absolute;
  top: 226.3px;
  left: 52.5px;
  text-decoration: underline;
}
.group-parent38,
.group-wrapper19 {
  position: absolute;
  top: 0;
  left: 707.2px;
  width: 252.6px;
  height: 383.9px;
}
.group-parent38 {
  top: 5040.6px;
  left: 186.3px;
  width: 959.8px;
  font-size: 40.41px;
}
.air-port-branch2 {
  position: relative;
  text-decoration: underline;
  line-height: 100%;
}
.air-port-branch-container {
  align-items: flex-start;
}
.air-port-branch-container,
.hassan-square-branch-container,
.university-road-branch-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 43.16px;
}
.university-road-branch-container {
  align-items: flex-start;
  color: var(--color-gray-200);
}
.hassan-square-branch-container {
  align-items: center;
}
.frame-parent18 {
  position: absolute;
  height: 64.71%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 35.29%;
  left: 0;
  background-color: var(--color-darkred);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-71xl);
}
.pizzapoint-all-rights-container2 {
  position: absolute;
  width: 91.02%;
  top: 135.74%;
  left: 3.19%;
  font-size: var(--font-size-16xl);
  line-height: 100%;
  display: inline-block;
}
.component-132,
.span5 {
  font-family: var(--font-lato);
}
.component-132 {
  position: absolute;
  top: 6165px;
  left: 4px;
  width: 1285px;
  height: 291px;
  font-size: 26.08px;
}
.span5 {
  font-size: 24.17px;
}
.our-branches1 {
  position: absolute;
  top: 6070px;
  left: 23px;
  line-height: 100%;
  font-size: var(--font-size-56xl);
  font-family: var(--font-jacques-francois);
}
.component-6-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 266.5px;
  height: 380px;
}
.mineral-water1,
.rs-6020 {
  position: absolute;
  top: 304px;
  left: 55.4px;
  display: inline-block;
  width: 105.5px;
}
.mineral-water1 {
  top: 228px;
  left: 21px;
  text-decoration: underline;
  width: 246.3px;
}
.component-6-parent3,
.menu-inner7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 267.3px;
  height: 380px;
}
.menu-inner7 {
  top: 5517px;
  left: 289px;
  font-size: var(--font-size-16xl);
}
.component-child {
  position: relative;
  border-radius: var(--br-3xs);
  width: 1144px;
  height: 1252px;
}
.vector-wrapper {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-child51,
.mditick,
.vector-wrapper {
  position: absolute;
  border-radius: var(--br-3xs);
}
.mditick {
  top: 1321px;
  left: 1162px;
  width: 56px;
  height: 56px;
  overflow: hidden;
}
.group-child51 {
  top: 0;
  left: 0;
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 976px;
  height: 544px;
}
.choose-your-sides,
.instance-child8 {
  position: absolute;
  top: 32px;
  left: 308px;
}
.instance-child8 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro);
}
.rectangle-wrapper33 {
  position: relative;
  width: 64px;
  height: 64px;
}
.pc-cheese-garlic {
  position: relative;
}
.instance-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.pc-potato-bites {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 423px;
  flex-shrink: 0;
}
.instance-parent2,
.instance-parent3,
.instance-parent4,
.instance-parent5 {
  position: absolute;
  top: 109px;
  left: 0;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.instance-parent3,
.instance-parent4,
.instance-parent5 {
  top: 218px;
}
.instance-parent4,
.instance-parent5 {
  top: 109px;
  left: 571px;
}
.instance-parent5 {
  top: 0;
}
.give-it-a1 {
  position: relative;
  line-height: 100%;
}
.button1,
.cheerful-button1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button1 {
  border-radius: 4.87px;
  background-color: var(--color-goldenrod);
  box-shadow: 0 0 0#000;
  border: 1.2px solid var(--color-black);
  overflow: hidden;
  padding: 17.034963607788086px 48.67132568359375px;
}
.cheerful-button1 {
  position: absolute;
  top: 221px;
  left: 571px;
  border-radius: var(--br-3xs);
  padding: 4.867132663726807px;
  font-size: 17.03px;
  color: var(--color-black);
  font-family: var(--font-lato);
}
.frame-parent19 {
  position: absolute;
  top: 114px;
  left: 39px;
  width: 1090px;
  height: 282px;
  font-size: 34.41px;
}
.rectangle-parent3 {
  position: absolute;
  top: 53px;
  left: 90px;
  width: 1129px;
  height: 544px;
}
.cheerful-button2,
.group-child52 {
  position: absolute;
  border-radius: var(--br-3xs);
}
.cheerful-button2 {
  top: 1140px;
  left: 503px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4.867132663726807px;
  cursor: pointer;
  font-size: 17.03px;
  color: var(--color-black);
  font-family: var(--font-lato);
}
.group-child52 {
  top: 0;
  left: 0;
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 976px;
  height: 292px;
}
.select-flovour {
  position: absolute;
  top: 29px;
  left: 347px;
}
.cheerful-button3,
.instance-parent6 {
  position: absolute;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
}
.instance-parent6 {
  top: 11px;
  left: 571px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.cheerful-button3 {
  top: 131px;
  left: 374px;
  align-items: center;
  justify-content: center;
  padding: 4.867132663726807px;
  font-size: 17.03px;
  color: var(--color-black);
  font-family: var(--font-lato);
}
.frame-parent20 {
  position: absolute;
  top: 83px;
  left: 39px;
  width: 922px;
  height: 191.8px;
  font-size: 34.41px;
}
.group-child53,
.rectangle-parent4 {
  position: absolute;
  top: 597px;
  left: 90px;
  width: 976px;
  height: 292px;
}
.group-child53 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  height: 184px;
}
.group-child54,
.special-instruction {
  position: absolute;
  top: 29px;
  left: 348px;
}
.group-child54 {
  top: 92px;
  left: 48px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 879px;
  height: 64px;
}
.rectangle-parent5 {
  position: absolute;
  top: 889px;
  left: 90px;
  width: 976px;
  height: 184px;
}
.component-parent {
  position: absolute;
  top: 569px;
  left: 61px;
  width: 1219px;
  height: 1377px;
  font-size: 30.31px;
  color: var(--color-gray-400);
}
.mountain-dew1,
.rs-6021 {
  position: absolute;
  top: 301px;
  left: 39.4px;
  display: inline-block;
  width: 105.5px;
}
.mountain-dew1 {
  top: 231px;
  left: 20.3px;
  font-size: var(--font-size-13xl);
  text-decoration: underline;
  width: 226px;
}
.component-5-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 266.5px;
  height: 380px;
}
.group-wrapper20 {
  position: relative;
  width: 266.5px;
  height: 380px;
}
.menu-inner8 {
  position: absolute;
  top: 5517px;
  left: 711px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-16xl);
}
.component-17-icon2 {
  position: absolute;
  top: 6387px;
  left: 439px;
  width: 470px;
  height: 152px;
}
.group-icon4,
.menu8 {
  position: relative;
  cursor: pointer;
}
.menu8 {
  text-decoration: underline;
  color: inherit;
}
.group-icon4 {
  width: 45px;
  height: 35px;
}
.menu-parent2 {
  position: absolute;
  height: 34.14%;
  width: 68.96%;
  top: 37.77%;
  right: 2.63%;
  bottom: 28.09%;
  left: 28.41%;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkred);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-28xl);
}
.image-1-icon4 {
  position: absolute;
  height: 77.6%;
  width: 11.61%;
  top: 15.83%;
  right: 81.3%;
  bottom: 6.57%;
  left: 7.09%;
  border-radius: var(--br-131xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-parent21 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 1292px;
  height: 193.3px;
  font-size: var(--font-size-11xl);
}
.menu5 {
  position: relative;
  background-color: var(--color-black);
  border: 3px solid var(--color-darkred);
  box-sizing: border-box;
  width: 100%;
  height: 6630px;
  overflow: hidden;
  text-align: left;
  font-size: 101.03px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
